.home-blog-section{
    padding:30px;
    max-width: 1400px;
    margin: 50px auto;
    background: #0b3954
}
.blog-phase-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.blog-phase-head{
    font-size: 44px;
    line-height: 1.2 !important;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.blog-phase-desc{
    line-height: 1.6;
    margin-bottom: 16px !important;
    font-size: 1rem;
    margin: 1rem 0 1.4rem;
    color: white;
    width: 70%;
}
.blog-phase-cta{
    background-color: #C81D25;
    color: white !important;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;
    border: none;
}
.cta {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    padding: 20px 24px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background:#C81D25;
      width: 56px;
      height: 56px;
      transition: all 0.3s ease;
    }
    span {
      position: relative;
      font-size: 16px;
      line-height: 18px;
      font-weight: 600;
      letter-spacing: 0.13em;
      vertical-align: middle;
    }
    svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #111;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all 0.3s ease;
    }
    &:hover {
      &:before {
        width: 100%;
        background: #C81D25;
      }
      svg {
        transform: translateX(0);
      }
      .active {
        transform: scale(0.96);
      }
    }
  }

  .blog-phase-2{
    grid-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
  }

  .single-blog-card{
    min-height: 360px;
    padding: 40px;
    background: #BFD7EA;
    border-radius: 4px;
    cursor: pointer;
  }
  .right-arrow-blog{
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px 6px 10px 11px;
    width: 20px;
    margin: 20px 0 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .arrow-blog{
    float: right;
  }
  .blog-card-head{
    color: #0B3954;
    font-size: 24px;
    line-height: 1.3 !important;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .blog-card-desc{
    color: #444;
    line-height: 1.6 !important;
    margin-bottom: 16px !important;
    font-size: 1rem;
    margin-top: 20px;
  }
.zIndex{
    z-index: -1;
}
.single-blog-card:hover{
    background: #bfd7ea91;
}

@media (max-width: 768px) {
    .blog-phase-2 {
        float: none;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        width: 100%;
    }
    .blog-phase-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .blog-phase-head,.blog-phase-desc{
      text-align: center;
      width: 100%;
    }
    .single-blog-card{
      margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .blog-phase-2 {
        display: block;
    }
}