.homepage-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  min-height: 100vh;
  align-items: center;
  padding: 10px;
  max-width: 1400px;
  margin: auto;
}
.h-b-left {
  max-width: 50%;
}
.h-b-right {
  max-width: 50%;
}
.h-b-left  .sub-head{
  color: #0B3954;
  line-height: 1.2 !important;
  font-weight: 600;
  font-size: 26px;
}

.changing-head{
  color: #000;
  font-family: sofia-pro, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: none;
  text-transform: none;
  padding:20px 0;
  text-decoration: underline;
  text-decoration-color: #BFD7EA;
  text-underline-offset: 8px;
  text-decoration-thickness: 5px;
}
.changing-subhead{
  color: #000;
  font-family: sofia-pro, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: none;
  text-transform: none;
  padding:20px 0;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.home-illustration{
  width: 95%;
  height: auto;
  padding-top: 120px;
  padding-left: 65px;
}
.btn:hover {
  transform: translateY(5px);
}

.light::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(    transparent 10deg,   rgb(11, 57, 84),    90deg,    transparent 170deg  );
  width: 200%;
  height: 500%;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.light:after {
  content: "Get Started";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  background: rgb(200, 29, 37);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  color: #fff;
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  border-radius: 5px;
}
@media (max-width: 450px) {
  .btn {
    width: 130px;
    margin: auto;
  }

  .light:after {
    width: 120px;
  }
}
@media (max-width: 768px) {
.homepage-banner{
display: flex;
flex-direction: column;
justify-content: center;
min-height: auto;
margin-top: 140px;
max-width: auto;

width: auto;
}
.h-b-left,.h-b-right{
  max-width: 100%;
}
.changing-head,.changing-subhead{
  font-size: 32px;
  text-align: center;
}
.wrap{
  justify-content: center;
}
.h-b-left .sub-head{
  text-align: center;
}
.home-illustration{
  margin: 50px auto;
  width: 350px;
  height: 350px; 
  padding-top: 0px;
  padding-left: 0px;
}
.btn{
  margin: auto;
}
}

.animate-contain {
	height: 40px;
	overflow: hidden;
	text-align: center;
	margin-top: 50px;
}
.animated-text {
	display: inline-block;
	transition: 300ms all;
	margin-top: 0;
	animation: slide 3s infinite alternate ease-in-out;
	background-color: purple;
	color: #fff;
}
.animated-text span {
	display: block;
	font-size: 20px;
	padding:8px 5px;
}
@keyframes slide{
	0%{margin-top:0;}
	20%{margin-top:0;}
	40%{margin-top:-40px;}
	60%{margin-top:-40px;}
	80%{margin-top:-80px;}
	100%{margin-top:-80px;}

}
.wrap{
  display:flex; 
  align-items:center;
  color:#000;
  font-size:36px;
 
}
span{display:block}
p{
  display:inline-block;
  height:86px;
  overflow:hidden;
  margin:10px 0;
  font-size:36px;
  position:relative
}

.flip span{
  animation: flip 6s infinite;
  transition:.5s;
}
@keyframes flip{
  0%{transform:translateY(0)}
  33%{transform:translateY(-100%)}
  66%{transform:translateY(-200%)}
  100%{transform:translateY(0)}
}
@keyframes flicker{
  0%, 100%{opacity:0}
  50%{opacity:1}
}