.apply-sec{
    padding: 80px 20px;
    max-width: 1400px;
    margin: auto;
    width: 50%;
}
.apply-sec-head{
    font-size: 44px;
    line-height: 1.2 !important;
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #0B3954;
}
.apply-sec-desc{
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 16px !important;
    text-align: center;
    font-size: 1rem;
    margin: 0 0 1.4rem;
}
.label{
    font-size: 16px;
    font-weight: 500;
    color: #0B3954;
    display: flex;
    margin-bottom: 12px;
}
.apply-form{
    background-color: rgba(255, 255, 255, 1.0);
    color: #000000;
    border-radius: 0px;
    border: 1px solid;
    display: inline-block;
    font-size: .875rem;
    padding: .7rem;
    width: 100% !important;
    margin-bottom: 30px;
}
.label-desc{
    font-size: 14px;
    font-weight: 400;
    color: #0b3954e0;
    margin-bottom: 15px;
}
.submit-btn{
    background-color: #C81D25;
    color: white !important;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;
    cursor: pointer;
}
.submit-btn:hover {
    background-color:#c81d26c9;
  }

  @media (max-width: 768px) {
    .apply-sec{
        padding: 80px 20px;
        max-width:100%;
        margin: auto;
        width: 95%;
    }
    .apply-form{
        width: 95%!important;  
    }
  }