.value-container{
    background-image: linear-gradient(to bottom right, #ffc5ff, #087e8b63) !important;
    background-position: left top !important;
    background-size: auto !important;
    background-repeat: no-repeat !important;
    padding: 120px 1rem;

}
.value-cont-head{
    font-size: 44px;
    line-height: 1.2 !important;
    margin: 0 0 3.4rem;
    color: #0B3954;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.single-value-card{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.value-card-head{
    line-height: 1.2 !important;
    font-size: 30px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #0B3954;
}
.value-card-desc{
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 16px !important;
    margin: 0 0 1.4rem;
    color: #555555;
}



@media (min-width: 768px) {
    .single-value-card {
        padding: 40px;
    }
    .value-cards {
        max-width: 1400px;
        margin: auto;
        grid-gap: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}       

@media (max-width: 768px) {
    .wrapper{
        width: 90%;
        padding: 50px 10px;
    }
    floatIcon1 {
        top: 10%;
        left: 3%;
    }
    .floatIcon2 {
        bottom: 9%;
        right: 3%;
    }
}