.home-result-section {
  padding: 50px 30px;
  max-width: 1400px;
  margin: 50px auto;
  background: linear-gradient(45deg, #bfd7ea, #bfd7ea, #F5F5F7, #ffffff);
}
.result-head{
    text-align: center;
    font-size: 44px;
    line-height: 1.2 !important;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #0B3954;
}
.result-desc{
    font-size: 1.2rem;
    margin: 1.6rem 0 1.4rem;
    line-height: 1.6;
    margin-bottom: 16px !important;
    text-align: center;
}
.linkWrap {
  position: relative;
  padding: 12px 0;
  border-radius: 2px;
  text-align: left;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
    border-radius: 5px;

  @media (max-width: 991px) {
    width: 50%;
    flex: 0 0 auto;
  }
  @media (max-width: 767px) {
    width: 100%;
    flex: 0 0 auto;
  }
}

.result-cta{
  background-color: #C81D25;
  color: white !important;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: auto;
}
.style-2 {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
  /* Hide extra text */
  .mask {
    position: relative;
    padding: 0;
    height: 20px;
    /*  Remove overflow to see how it works　:) */
    overflow: hidden;
    .link-container {
      transition: transform 0.4s ease;
    }
    .title {
      display: block;
      /*  Set same font-size and line height  */
      font-size: 17px;
      line-height: 20px;
      transition: transform 0.4s ease;
    }

    .link-title1 {
      transform-origin: right center;
    }

    .link-title2 {
      transform-origin: left center;
      transform: rotate(20deg);
    }
  }

  .link-icon {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    /*  Remove overflow to see how it works　:) */
    overflow: hidden;
    .icon {
      display: block;
      position: absolute;
      transition: transform 0.4s ease;
      &:nth-child(2) {
        transform: translate(-40px);
      }
      /* Hover Action*/
    }
  }
  &:hover {
    /* Move up two texts (20px = font-size) */
    .link-container {
      transform: translateY(-20px);
    }
    /* Rotate texts a little bit */
    .link-title1 {
      transform: rotate(20deg);
    }
    .link-title2 {
      transform: rotate(0);
    }
    /* Move arrows to right */
    .icon:first-child {
      transform: translate(40px);
    }
    .icon:nth-child(2) {
      transform: translate(0px);
    }
  }
}
.exp-port{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem auto;
}
.exp-port-left{
  width: 68%;
}
.exp-port-right{
  width: 35%;
}
.exp-left-img{
  width: 96%;
  height: 750px;

  object-fit: cover;
}
.exp-right-img{
  width: 96%;
  height: 250px;
  object-fit: cover;

}
.exp-port-left{
  .port-left-desc{
    width: 98%;
  }
}
.port-left-head{
  text-align: left;
  font-size: 24px;
  line-height: 1.2 !important;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  color: #087E8B;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .exp-port{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .exp-port-left, .exp-port-right{
    width: auto;
  }
  .exp-port-right{
    margin-top: 30px;
  }
  .exp-left-img, .exp-right-img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .home-result-section{
    margin: 50px auto 0;
  }
}