.p-list-sec{
    padding:50px 10px;
    max-width: 1400px;
    margin: auto;
}
.p-list-head{
    margin-bottom: 20px;
    font-size: 22px;    
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #0B3954;
    text-align: center;
}
.p-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.single-port-card{
    width: 30%;
    margin: 50px 0;
    cursor: pointer;
}
.p-card-img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.p-card-head{
    font-size: 22px;
    line-height: 1.2 !important;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #0B3954;
}
.p-card-desc{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 16px !important;
}
.single-port-card:hover{
    opacity: 0.7;
}
.button-container {
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
    margin: auto;
    width: 100%;
  }
  
  .sort-button {
    padding: 10px 15px;
    border: 1px solid #000;
    background-color: white;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
  }
  
  .sort-button.active {
    background-color: #009688; /* Green color */
    color: white;
    border: 1px solid #009688;
  }
  
  .sort-button:hover {
    background-color: #e0e0e0; /* Light grey on hover */
  }


/* CardContainer.css */
.card-container {
    display: flex;
    gap: 20px;
  }
  
  .card {
    width: 30%;
    margin: 50px 0;
    cursor: pointer;
    padding: 20px;
    background-color: #f0f0f0;
    transition: opacity 0.3s ease;
    
  }
  
  .card.hovered {
    opacity: 1;
  }
  
  .card-container:hover .card {
    opacity: 0.5;
  }
  
  .card-container .card:hover {
    opacity: 1;
  }
  
.d-home-img{
    max-width: 100%;
    width: 100%;
    transform: rotate(357deg) scale(1.1);
    filter: drop-shadow(1px 1px 4px #dfdfdf);
}

  @media (max-width: 768px) {
    .p-list-head,.button-container{
        display: none;
    }
    .p-list-sec{
        width: 100%;    
    }
    .single-port-card{
        width: 100%;
        margin: auto;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 100%;
    }
  }