.home-testimonial {
  padding: 100px 30px 40px;
  max-width: 1400px;
  margin: 50px auto;
}
.testimonial-head {
  text-align: center;
  font-size: 44px;
  line-height: 1.2 !important;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  color: #0b3954;
}
.carousel-testimonial {
  margin: 3rem auto 1.4rem !important;
  border-left: 10px solid #FF5A5F;
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 2rem !important;
  color: #000 !important;
  width: 70%;
  text-align: left;
}
.auth-name{
    color: #767676;
    text-align: left;
    width: 70%;
    margin: auto;
}

@media (max-width: 768px) {
  .carousel-testimonial{
    width: 95%;
  }
  .testimonial-head{

    font-size: 35px;
  }
}