
.integration-sec{
    background-image: linear-gradient(to top, #c81d2563, rgba(174, 238, 242, 1)) !important;
    background-position: left top !important;
    background-size: auto !important;
    background-repeat: no-repeat !important;
}
.platform-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    min-height: 100vh;
    align-items: center;
    padding: 10px;
    max-width: 1400px;
    margin: auto;


}
.platform-home-sub-desc{
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 26px;
    margin-top: 2.5rem;
    color: #555555;
    text-align: left;
}
.platform-home-head{
    margin-bottom: 8px;
    font-size: 48px;
    line-height: 1.3 !important;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    margin: 0 0 1.4rem;
    color: #0B3954;
}
.platform-illustration{
    width: 590px;
    height: auto;
    padding-top: 120px;
    padding-left: 65px;
}

@media (max-width: 768px) {
    .platform-home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .platform-illustration {
        width: 100%;
        height: auto;
        padding-top: 80px;
        padding-left: 0;
    }
    .platform-home-sub-desc{
        text-align: center;
        line-height: 1.4;
    }
    .platform-home-head{
        font-size: 28px;
        text-align: center;
    }
}